:root{
    --bg-color: rgb(12, 12, 22);
    --mid-color: rgb(20, 20, 29);
    --light-color : rgb(217, 236, 238);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--light-color);
}

::placeholder{
    color: var(--light-color);
    opacity: 60%;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--bg-color);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section.side {
    background: url(../IMG/academia.jpg) no-repeat;
}

.side img {
    width: 50%;
    max-width: 50%;
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 24px;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: var(--light-color);
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
button {
    border: 2px solid;
    border-color: var(--light-color);
    outline: none;
    border-radius: 10px;
    font-size: 1.1em;
    background: none;
}

input {
    width: 100%;
    color: var(--light-color);
    letter-spacing: 0.5px;
    padding: 14px 64px;
    color: var(--light-color);
}

input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    transition: color   0.4s;
    opacity: 0.6;
}

input:focus ~ i {
    opacity:1;
}

button.submit {
    background-color: var(--light-color);
    color: var(--bg-color);
    padding: 14px 64px;
    margin: 24px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
}

button.cadastro {
    background-color: var(--bg-color);
    color: var(--light-color);
    border-color: var(--light-color);
    padding: 14px 40px;
    margin: 10px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
}

button.submit:hover {
    background-color: var(--bg-color);
    color: var(--light-color);
}

button.cadastro:hover {
    background-color: var(--light-color);
    color: var(--bg-color);
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}